@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// Variables
$primary-color: #00a8ff;
$secondary-color: #66c9ff;
$light-gray: #cccccc;
$background-gradient: linear-gradient(135deg, #1c1c1c 0%, #323232 100%);
$font-family: "Lato", sans-serif;
$carousel-width: 100%;
$carousel-height: 100px;
$carousel-animation-duration: 20s;

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

#root {
  font-family: $font-family;
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  color: white;
  background: black;
  display: flex;
  justify-content: center;
}

span.center-line {
  position: relative;
}

span.center-line::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  border-top: 1px solid #9ca3af; /* Adjust thickness and color as needed */
  transform: translateY(-50%);
}

span.center-line.white::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  border-top: 1px solid white; /* Adjust thickness and color as needed */
  transform: translateY(-50%);
}

@layer base {
  body {
    @apply font-inter; /* Global font */
  }
}
