@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: rgb(244, 225, 199);
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  position: relative;
}

#root {
  font-family: "Raleway", sans-serif;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 20%;
  width: fit-content;
}

@media (max-width: 768px) {
  #root {
    top: 5%;
    left: 10%;
  }
}
