@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
  padding: 2rem;
}

.header {
  margin-bottom: 1.5rem;
  transform: translateY(75vh);

  &__heading {
    font-family: "Fira Code", monospace;
    font-size: 2rem;
    width: fit-content;
    min-height: 3.5rem;
    padding-right: 0.5rem;
    border-right: 4px solid orange;
    margin: 0;
  }

  &__description {
    font-size: 1.5rem;
    margin: 0.5rem 0 0;
  }

  &__button {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s ease;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #0066cc;
    text-decoration: none;
    position: relative;
    background: none;
    line-height: 0;
    display: none;

    &:hover {
      color: #0052a3;
      border-color: currentColor;
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background: currentColor;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      transition: width 0.2s ease;
    }

    &:hover::after {
      width: calc(100% - 1rem);
    }

    .icon {
      opacity: 0.8;
    }
  }
}

.wrapper {
  padding-bottom: 2rem;
  transform: translateY(75vh);
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - 50px),
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black calc(100% - 50px),
    transparent 100%
  );
  mask-position: top;
  -webkit-mask-position: top;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
}

// Lists
ul {
  list-style-type: none;
}

// Links
a {
  color: #0066cc;
  text-decoration: none;
  position: relative;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  &:hover {
    color: #0052a3;
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: currentColor;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: width 0.2s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

// Icons
.icon {
  &--prepend {
    margin-right: 0.25rem;
  }

  &--append {
    transition: transform 0.2s ease;
    opacity: 0.8;
  }
}

a:hover .icon--append {
  transform: translate(2px, -2px);
}

// About
.about {
  margin-bottom: 2rem;

  &__description {
    margin-bottom: 1rem;
  }
}

.tech-stack {
  margin-bottom: 2rem;
}

.wrapper {
  overflow: hidden;
}

// Projects
.projects {
  &__item {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__tag-list {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    list-style-type: none;
  }

  &__tag {
    background-color: #e0e0e0;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    line-height: 1;
    color: #333;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    // Technology-specific colors
    &[data-tag="React"] {
      background-color: rgb(116, 193, 218);
      color: #626262;
    }

    &[data-tag="TypeScript"] {
      background-color: #3178c6;
      color: white;
    }

    &[data-tag="Python"] {
      background: linear-gradient(
        135deg,
        rgba(55, 118, 171, 0.5) 50%,
        rgba(255, 212, 59, 0.5) 50%
      );
      color: black;
      font-weight: bold;
    }

    &[data-tag="C"] {
      background-color: #a8b9cc;
      color: #333;
    }

    &[data-tag="Tailwind CSS"] {
      background-color: #000000;
      color: white;
    }

    &[data-tag="Framer Motion"] {
      background-color: #ffd700;
      color: #000000;
    }

    &[data-tag="Shadcn UI"] {
      background-color: #000000;
      color: white;
    }

    &[data-tag="Unix"] {
      background-color: #333333;
      color: white;
    }
  }

  &__link-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  &__link {
    position: relative;
    color: #1d5a97;
    padding: 0.35rem 0.75rem;
    border-radius: 4px;
    transition: all 0.2s ease;
    font-size: 0.9rem;
    border: 1px solid transparent;

    &:hover {
      color: #0052a3;
      border-color: currentColor;
    }

    .icon {
      opacity: 0.8;
    }
  }
}

// Footer
.footer {
  margin-top: 2rem;

  &__heading {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__link-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpIntoPlace {
  0% {
    transform: translateY(75vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes reveal-down {
  0% {
    mask-size: 100% 0%;
    -webkit-mask-size: 100% 0%;
  }
  50% {
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
  }
  100% {
    mask-image: linear-gradient(to bottom, black 0%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 100%);
  }
}
